
p {
  margin: 0;
}

br {
  height: 68px;
}

a {
  color: #001ca2;
  text-decoration: none;
}

.green {
  color: #6da200;
}

.red {
  color: #a2001c;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #251E14;
  font-family: 'Schoolbell', cursive;
  letter-spacing: 0.02em;
  /* background-color: #fff;  */
  padding: 0 8%;
  object-position: center top;
  overflow: hidden;
}

/* Foreground */
.fg-fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.56;
  z-index: 1000;
}


.sticky {
  background-color: #FFFD75;
  width: 300px;
  height: 300px;
  padding: 30px;
  margin: 100px 0 -80px 0;
  transform: rotate(2deg);
  z-index: 3;
  align-self: flex-start;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.09) inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 42px;
  line-height: 34px;
}

.title {
  font-weight: 600;
}

.sticky-date {
  margin: auto 0 0 0;
}


.staple {
  position: absolute;
  /* right: 300px;
  top: 330px; */
  width: 81px;
  transform: rotate(4deg);
  z-index: 3;
}

.pin {
  position: absolute;
  top: -41px;
  right: 32px;
  width: 39px;
  transform: rotate(20deg);
  filter: drop-shadow(8px 16px 10px rgba(0,0,0,0.2));
  z-index: 3;
}

.sticker {
  position: absolute;
  z-index: 1;
}

.paper {
  position: relative;
  width: 95%;
  background-color: #fffbf0;
  transform: rotate(-0.5deg);
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.19), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* Red line */
.paper::before {
  content: '';
  z-index: 2;
  position: absolute;
  background-color: #ff7673;
  border-left: 1px solid #ff857e;
  left: 15%;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 1px;
  opacity: 0.6;
}

.paper-content {
  margin-top: 140px;
  padding-left: 16.5%;
  padding-right: 2%;
  padding-bottom: 5%;
  z-index: 3;
  /* #9acbf6 1px,
  #65b2f8 1px, */
  /* Draw lines */
  /* background-image: 
  linear-gradient( rgb(101, 178, 248, 0.7) 2px, transparent 0);
  background-size: 100% 1.4em; */
  background-image: linear-gradient(rgb(101, 178, 248, 0.5) 2px, transparent 1px);
  background-size: 20px 34px;
}

.paper p {
  opacity: 0.9;
}

.paper-writing {
  /* font-size: 22px; */
  font-size: 42px;
  line-height: 68px;
  vertical-align: text-top;
  position: relative;
  top: -14px;
}

.paper-title {
  font-size: 84px;
  line-height: 68px;
}

.highlight {
  background-color:rgba(255, 255, 101, 0.3);
  border-radius: 0px;
}

.coffee-stain {
  position: absolute;
  right: 1%;
  top: 50%;
  width: 350px;
  transform: rotate(4deg);
  z-index: -1;
  opacity: 0.3;
}


/* Tape CSS - provide position, and width */
.tape {
  background-color: hsla(0,0%,100%,.2);
  box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
  height: 5%;
  position: absolute;
}
.tape:after,
.tape:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}
.tape:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-45deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 0 100%;
  left: -.2em;
}
.tape:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-135deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}


